.background {
    background-image: url(https://cdn.animaapp.com/projects/64252e1554bf0badf3b6075d/releases/64fd585518c1533d05dd887e/img/background.png);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
  }
  
  .background .text-wrapper {
    color: #000000;
    font-family: "Sintony", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 50%; /* Horizontally center the element */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20%; /* Vertically center the element */
    text-align: center; /* Center text horizontally */
    white-space: nowrap;
  }
  
  .background .div {
    color: #ff385b;
    font-family: "Sintony", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 50%; /* Horizontally center the element */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35%; /* Vertically center the element */
    text-align: center; /* Center text horizontally */
  }
  
  .background .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.background .box {
    width: 30%;
    border-color: #000;
    color: #000;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background .icon-img{
    max-width: 10%;
    margin-top: 10px;
}

.background .text-area{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}



.background .summaryButton {
    width: 30%;
    background-color: #e74c3c;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


 
  /* .background .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; Adjust the gap between elements as needed */
  /* } */
  
  .background .input-rect {
    border: 4px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 50px;
    left: 95px;
    position: absolute;
    width: 298px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  

  .background .summary-rect {
    border: 4px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 50px;
    left: 95px;
    position: absolute;
    width: 298px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .background .input-rect:nth-child(1) {
    left: 23%;
    top: 70%; /* Adjust the top position as needed */
  }
  
  .background .input-rect:nth-child(2) {
    left: 53%;
    top: 70%; /* Adjust the top position as needed */
  }
  .background .line {
    height: 2px;
    width: 50px; /* Adjust the width of the line divider as needed */
    background-color: #000; /* Adjust the color as needed */
  }
  
  .background .text-area {
    background-color: #e7e7e7b0;
    border-radius: 12px;
    height: 35px;
    left: 55px;
    position: absolute;
    top: 8px;
    width: 224px;
    padding: 8px 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }
  
  .background .you-tube {
    height: 50px;
    left: 8px;
    position: absolute;
    top: 1px;
    width: 42px;
  }
  
  .background .upload-file {
    height: 50px;
    left: 8px;
    position: absolute;
    top: 1px;
    width: 42px;
  }
  
  .background .cloud-upload {
    height: 50px;
    left: 8px;
    position: absolute;
    top: 1px;
    width: 42px;
  }
  
  .background .next-button {
    all: unset;
    box-sizing: border-box;
    height: 45px;
    width: 15%;
    left: 50%; /* Horizontally center the element */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 85%; /* Vertically center the element */
    text-align: center; /* Center text horizontally */
    background-color: #ffffff;
    padding: 10px 0px;
    border-radius: 15px;
    margin: 10px 0px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
  }
  
  .background .overlap {
    background-color: #ffffff;
    border-radius: 30px;
    height: 71px;
    position: relative;
    width: 253px;
  }
  
  .background .text-wrapper-3 {
    color: #000000;
    font-family: "Sintony", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .background .line {
    height: 140px;
    left: 910px;
    position: absolute;
    top: 727px;
    width: 3px;
  }
  