.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* boostrap form style */

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  width: 80% !important;
}

span.input-group-addon {
  width: 50px !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


*{
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  font-family: 'Montserrat', sans-serif; 
}

.bg{
  background-image: url("/Users/hajra/Documents/Winter 2023/Capstone/Enigma/frontend/static/frontend/75adedf52736972572b2.png"); 
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}